<footer class="bg-gray-light-7 pt-3 pb-3 mt-5">
      <div class="container">
        By Benjy Ross
        Please note that this web site is permantly growing.
        I may not have finished everything as it's an on growing development.
        <br>
        <a href="License.html">License</a>
        <a href="/submit">Sumbit errors</a>
      </footer>