    <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
      <a href="/"> <h3 style="color: gray;">Benjy Blog</h3> </a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
                    <li>
            <a href="/archive/">Archive</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>