  <nav class="nav-graidient justify-between ">
    <div class="container">
      <h1 class="site-title"><a href="/">Benjy Ross</a></h1>
      <ul class="display-f">
        <li class="ml-1 text-hover-secondary"><a href="/#work">My Projects</a></li>
        <li class="ml-1 text-hover-secondary"><a href="/about">About me</a></li>
        <li class="ml-1 text-hover-secondary"><a href="https://brossblog.netlify.app/">Blog</a></li>
      </ul>
    </div>
  </nav>