 <div class="col-12-xs col-6-md col-3-lg">
      <div class="card p-0">
        <h3 class="card-title m-1">{{post.data.title}}</h3>
        <img src="{{project.data.image}}">
        <p class="m-1">{{project.data.description}}</p>
        <a href="{{project.url}}">Go there</a>
      </div>
    </div>