---
layout: 'base.njk'
title: Home 
---
  <div class="container mt-5">
    <div class="row justify-center">
      <div class="col-12-xs col-5-md">
        <h2>
          <div class="font-xxl text-gradient">i do tech</div>
        </h2>
        <p class="text-gray mt-2 mb-3"></p>
        <div style="display: inline-flex; text-align: center;">
        <a href="#work" class="btn-complement-primary">View my Work</a>
        <a href="about.html" class="btn-complement-primary">about me</a>
      </div>
    </div>
      <div class="col-12-xs col-5-md">
        <img src="https://img.icons8.com/fluency/96/000000/laptop.png"/>
      </div>
    </div>
  </div>
<!-- work section -->
  <section id="work" class="mt-5">
    <div class="container">
      <h2 class="mb-2">Some of my Work</h2>
      <div class="row gap-2">
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">
               <span class="badge-orange text-white ml-1">new</span>
               Blog
            </h3>
            <br>
            <img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-blog-digital-content-wanicon-lineal-color-wanicon.png" class="img-center"/>
            <p class="m-1"> Visit my amazing blog that covers food and tech. </p>
            <a href="blog/index.html">Go to it now</a>
          </div>
        </div>
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">Projects</h3>
            <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-projects-resume-flaticons-lineal-color-flat-icons.png"/>
            <p class="m-1"> All my projects are free to run and download.</p>
            <a href="#" >Not finished !</a>

          </div>
        </div>
        <div class="col-12-xs col-6-md col-3-lg">
          <div class="card p-0">
            <h3 class="card-title m-1">
              <span class="badge-orange text-white ml-1">new</span>RoNotBroYT's <br> website 
            </h3>
            <img src="https://img.icons8.com/arcade/64/youtube-play.png" alt="yt-icon">
            <p class="m-1"> Go check it out and sub to him - website mad by me</p>
            <a href="#">Coming soon</a>
          </div>
        </div>
          </div>
        </div>
      <div class="row justify-center mt-2" style="display: none;">
        <a href="#" class="btn-primary">view all</a>
      </div>
    </div>
  </section>
