---

title: Home |BRblog
layout: 'base.njk'
---   

<main>
  <section class="hero">
    <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to my blog!</h1>
        <p>Welcome to my blog I will be posting artices every week/month and I will talk about food and tech.</p>
        <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="/blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
    </div>
  </section>
  <section id="featured-articles" class="featured-articles">
    <div class="container flow">
      <h2 class="section-title text-center ">Featured articles</h2>
      <p class="text-center">Here are some of my favourite articles.</p>
      <ul class="articles_list flow" role="list">
        {%- for post in collections.featured | reverse-%}
          {% include 'article-snippet.njk' %}
          {%-endfor-%}
        </ul>
      </main>