---
title: liscense 
layout: "base.njk"
---
<div style="margin: auto;">
    <h1>License</h1>
    <p>
      This favicon was generated using the following font:

    - Font Title: Comfortaa
    - Font Author: Copyright 2011 The Comfortaa Project Authors (https://github.com/alexeiva/comfortaa), with Reserved Font Name "Comfortaa".
    - Font Source: http://fonts.gstatic.com/s/comfortaa/v37/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMPrQVIT9c2c8.ttf
    - Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL))

    </p>
    <h3>Main font</h3>
    <h5>poppins (google fonts)</h5>
    <a target="_blank" href="https://icons8.com/icon/qs0ZeP4TsR9Y/blog">Blog icon by Icons8</a>
    <br>
    <a target="_blank" href="https://icons8.com/icon/dkJjwk0X5JYU/laptop">Laptop icon by Icons8</a>
    <br>
    <a target="_blank" href="https://icons8.com/icon/OOZ03zZyUcSR/password">Password icon by Icons8</a>
    <br>
    <a href="/">Home</a>
    </div>