---
title: Projects
layout: "base.njk"
---
  </nav>
      <!-- cards for each project -->
      <section id="projects">
        <div class="container">
        <h2 class="justify-center">Projects</h2>
  <div class="row gap-2">
    <div class="col-12-xs col-6-md col-3-lg">
      <div class="card p-0">
        <h3 class="card-title m-1">
           <span class="badge-orange text-white ml-1">new</span>
           Blog
        </h3>
        <br>
        <img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-blog-digital-content-wanicon-lineal-color-wanicon.png" alt="" class="justify-center">
        <p class="m-1"> Visit my new and  amazing blog that  covers food and tech.</p>
        <a href="#">Go to it now</a>
      </div>
    </div>
    <div class="col-12-xs col-6-md col-3-lg">
      <div class="card p-0">
        <h3 class="card-title m-1">Password Generater</h3>
        <img src="https://img.icons8.com/stickers/100/000000/password.png" alt="pasicon">
        <p class="m-1"> Makes easy to remember and secure passwords</p>
        <a href="#">Go there</a>
      </div>
    </div>
      </div>
    </div>
  </div>
  </div>
</div>
    </section>
