<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sumbit errors</title>
</head>
<body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    body {
      font-family: Poppins;
      text-align: center;
    }
  </style>
    <h1>Sumbit errors</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc8QgTs7XRMxKnpbIwpMYuyVPCC8fWDK4vd8e-KWSTxldKUHw/viewform?embedded=true" width="640" height="1160" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <br>
    <a href="index.html">Home page</a>
  </body>
</html>